<%- include('../partials/head') %>
  <%- include('../partials/header') %>
  
      <%- include('../partials/flash') %>
    
      <div class="h-screen">
        <h1 class="mt-5 mx-5 text-2xl text-yellow-600"><%= page %></h1>
        <p class="mt-2 mx-5">Welcome</p>
      </div>

  <%- include('../partials/footer') %>
<%- include('../partials/foot') %>
