<%- include('../partials/head') %>
    <%- include('../partials/header') %>
    
            <%- include('../partials/flash') %>

            <div class="drop-shadow-2xl flex justify-center items-center h-screen m-auto">
                <div class="login rounded-l-lg p-3 bg-zinc-100 text-gray-900 w-1/5 h-72">
                    <div class="login-heading">
                        <h1 class="text-2xl mx-3 my-5">Login as User</h1>
                        <a href="/user/signin" class="block as-user rounded-full py-2 px-5 m-5 bg-gray-900 text-zinc-100">Login</a>
                        <a href="/user/signup" class="block as-user rounded-full py-2 px-5 m-5 bg-gray-900 text-zinc-100">Create an account</a>
                    </div>
                </div>

                <div class="signup rounded-r-lg p-3 bg-gray-900 text-zinc-100 w-1/5 h-72">
                    <div class="signup-heading">
                        <h1 class="text-2xl mx-3 my-5">Login as Developer</h1>
                        <a href="/developer/signin" class="block as-developer rounded-full py-2 px-5 m-5 bg-zinc-100 text-gray-900">Login</a>
                        <a href="/developer/signup" class="block as-developer rounded-full py-2 px-5 m-5 bg-zinc-100 text-gray-900">Create an account</a>
                    </div>
                </div>
            </div>

    <%- include('../partials/footer') %>
<%- include('../partials/foot') %>