<%- include('./partials/head') %>
  <%- include('./partials/header') %>

      <%- include('./partials/flash') %> 

      <div class="h-screen">
          <h1 class="pt-5 px-5 text-2xl text-green-600"><%= page %></h1>
          <p class="pt-2 px-5">Welcome to <%= page %></p>
      </div>

  <%- include('./partials/footer') %>
<%- include('./partials/foot') %>
